
img {
  width: 25%;
  height: auto;
}

h1{
 color: white; 
}

h2 {
 color: white; 
}

p {
 color: white; 
}

h5{
 color: white; 
}

ul{
 color: white; 
}

#titlePane {
  background-image: url("images/background.jpg");
  background-size: cover;

}

a {
  color: white;
}